@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white text-arquiluz-black font-sans;
  }

  h1,
  h2,
  h3 {
    @apply font-serif;
  }
}

@layer utilities {
  .section-padding {
    @apply px-6 md:px-12 lg:px-24;
  }
}
